{% extends 'base.html' %}

{% block title %} {{ cafe.name }} {% endblock %}

{% block content %}

<div class="row justify-content-center">
  <!-- elements aligned in a horizontal row -->

  <div class="col-10 col-sm-8 col-md-4 col-lg-3">
    <img class="img-fluid mb-5" src="{{ cafe.image_url }}">
  </div>

  <div class="col-12 col-sm-10 col-md-8">
    <!-- elements aligned in a vertical col -->

    <div class="d-flex align-items-center mb-2">
      <h1 class="mr-0">{{ cafe.name }}</h1>

      <div id="like-area">

        {% if g.user %}
        <form id="cafe-like-form" method="POST">
          {{ g.csrf_form.hidden_tag() }}
          <input type="hidden" id="cafe-id" name="cafe-id" value="{{ cafe.id }}">
          <button type="button" id="like" class="btn btn-link">
            <i class="bi bi-heart"></i>
          </button>
            <button type="button" id="unlike" class="btn btn-link">
              <i class="bi bi-heart-fill"></i>
            </button>
        </form>
        {% endif %}

      </div>
    </div>

    <p class="lead">{{ cafe.description }}</p>

    <p><a href="{{ cafe.url }}">{{ cafe.url }}</a></p>

    <p>
      {{ cafe.address }}<br>
      {{ cafe.get_city_state() }}<br>
    </p>

    <p>
      <a class="btn btn-outline-primary" href="/cafes/{{ cafe.id }}/edit">
        Edit Cafe
      </a>
    </p>

  </div>

</div>

<div class="row justify-content-center">
  <div id='map-area' class="d-flex align-items-center mb-2">
    <img
    class="img-fluid mb-5"
    src="/static/maps/{{ cafe.id }}.jpg"
    alt="{{ cafe.name }} location"
    width="500">
  </div>
</div>

<!-- Apply only like/unlike functionality on cafe detail page. -->
<script src="/static/js/cafeLike.js"></script>

{% endblock %}